<!-- <h1>Sign In</h1>

<%= form_tag '/signin' do %>
Email: <%= email_field_tag :email, "" %><br>
Password: <%= password_field_tag :password, "" %>
<%= submit_tag "Login" %>

  <% end %>

  <%= link_to "Sign in with Github", "/auth/github" %> -->

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4" style="color:DarkBlue;">Returning? Good to see you back...</h3>
                <div class="form-label-group">
                <%= form_tag '/signin' do %>
                <h3 style="color:DarkBlue;">Email</h3>
                 <p><%= email_field_tag :email, placeholder="" %><br></p>
                 <h3 style="color:DarkBlue;">Password</h3>
                 <p><%= password_field_tag :password, placeholder="" %></p>
                <%= submit_tag "Login" %>
                <% end %>
                <br>
                <%= link_to "Sign in with Github", "/auth/github" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
