  <style> background-color:#1d1d1d !important; </style>
    <h1>Signup!</h1>
    <%= render partial: "layouts/errors", locals: {object: @user} %>

    <%= simple_form_for @user do |f| %>
    <%= f.input :name, label: 'Name', error: 'Name is a required field' %>
    <%= f.input :email, label: 'Email', as: :email, error: 'Email is required field' %>
    <%= f.input :location, label: 'Zipcode', error: 'Required field' %>
    <%= f.input :password, label: 'Password', as: :password %>
    <%= f.input :password_confirmation, label: 'Confirm Password', as: :password %>
    <%= f.button :submit, "Join Watchman", class: "my-button" %>
    <% end %>
    <br>
    <br>
