<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
   align-content: center;
}
.div {
   position: absolute;
}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }

        .page-top{
            margin-top:85px;
        }


img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
     align-content: center;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {

     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;
    }
  </style>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </head>
  <body>
    <div class="container page-top">
        </div>
            <% @user.images.each do |pic| %>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="content-align center;">
                     <img  src="<%= pic.url %>?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="<%= pic.name %>">


               <p style="color:SlateBlue"> Name: <%= "#{pic.name}" %> </p>
               <p style="color:SlateBlue"> Gender: <%= "#{pic.gender}" %> </p>
               <p style="color:SlateBlue"> Age Range: <%= "#{pic.age_low}" %> - <%= "#{pic.age_high}" %> </p>

               <% if pic.label.length != 0 %>
               <p style="color:SlateBlue"> <%= "#{pic.label}" %> </p>
                <% else %>
               <h5 style="color:red;">Label this image?</h5>


               <%= button_to "Add Label", "/images/#{pic.id}/edit", method: :get %>

                <% %>

               <% end %>
             </div>
        </div>

         <% end %>
  </body>
</html>
<br>
<br>
<br>
